/*
 *这是单独为hello mui准备的个性化css，可以覆盖标准mui的css定义；
 * 在实际项目开发时，建议为App单独写一个css文件，从而实现项目的自定义皮肤功能；
 * 
 * */
.mui-android .mui-bar-nav~.mui-content{
	padding: 0;
}
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot'); /* IE9*/
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

html,body,*{font-family: "微软雅黑";}
body{background-color: #f0f0f0;}
a,img{padding: 0;margin: 0;}
.mui-bar-nav{  -webkit-box-shadow: 0 0px 0px #ccc; box-shadow: 0 0px 0px #ccc}
.home-bar{background-color: #019FE6;}
.home-bar,.home-bar *{color: #FFFFFF;}
.box{background-color: #FFFFFF;border-top: 1px solid #EDEDED;border-bottom: 1px solid #EDEDED;margin-bottom: 8px;}
.mui-grid-view.mui-grid-9{background-color:#FFFFFF;border-bottom: 1px solid #EDEDED;}
.mui-grid-view.mui-grid-9 .mui-table-view-cell{border-top: none;border-left: none;}


.mui-grid-view.mui-grid-9 .mui-table-view-cell{padding:0px 15px 10px 15px;}
.mui-grid-view.mui-grid-9 .mui-table-view-cell a,.mui-grid-view.mui-grid-9 .mui-table-view-cell>a:not(.mui-btn){padding: 2px 0;}
#Gallery .mui-slider-item .mui-table-view{padding-top: 10px;}

#Gallery{margin-bottom: 8px;}

.blue{color: #019FE6;}
.orange{color: #FF7D00;}
.green{color: #76BD3D;}
.purple{color: #8D85EE;}
.red{color: #F15353;}
.pink{color: #F73274;}
.orange2{color: #FFB30F;}
.green2{color: #31BD80;}
.orange3{color: #FF4400;}
.blue2{color: #0FB3DA;}

.ayu-wrap{padding: 5px;}

.tit{height: 30px; line-height: 30px; color: #666; padding-left: 5px;font-size: 13px;}

.ayu-group{clear: both;overflow: hidden;zoom: 1;}
.ayu-group .ayu-small-box img,.ayu-group .box-right img{width: 100%;height: auto;display: block;}
.fl{float: left;}
.fr{float: right;}
.ayu-group .mui-col-xs-8{margin: 0 -1%;}
.box-left .mui-col-xs-6{float: left;}
.box-left .ayu-small-box{margin-right: 0 2%;width: 48%;float:left;margin:0 1%;margin-bottom: 2%;}
.box-left .ayu-small-box.nob{margin-bottom: 0;}
.box-left .ayu-small-box a{display: block;}

.ayu-group .box-left{width:67.66666667%}

.ayu-small-box{position: relative;}
.ayu-small-box .title,.ayu-imgbox .title{padding-left: 8px;display:block;width:100%;position: absolute;left: 0;bottom: 0;font-size: 12px;line-height: 22px;background:url('../images/backbg.png') bottom repeat-x;color: #FFFFFF;}

.box-right .title{display:block;width:100%;position: absolute;left: 0;bottom: 0;font-size: 12px;line-height: 22px;background:url('../images/backbg.png') bottom repeat-x;color: #FFFFFF;padding-left: 10px;}

.ayu-group .box-right{position: relative;width:33.63333333%;margin-right: -1%;margin-top:-1%;overflow: hidden;zoom: 1;}

.ayu-top{margin-bottom: 8px;}
.ayu-imgbox{position: relative;}
.ayu-imgbox img{display: block;}

.ayu-imgtxt-view .mui-table-view-cell,.ayu-imgtxt-view .mui-table-view-cell a{padding-left: 0;padding-right: 0;}
.ayu-imgtxt-view .mui-table-view-cell a{margin-left: 0;margin-right:0;}
.ayu-imgtxt-view .mui-table-view-cell:after{left: 0;}
.ayu-imgtxt-view .mui-media-object{max-width:120px}


.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-fuwu:before { content: "\e606"; }
.icon-shigantiyantu:before { content: "\e620"; }
.icon-shezhi:before { content: "\e600"; }
.icon-circularjingxiaoshang:before { content: "\e61b"; }
.icon-fayouji:before { content: "\e613"; }
.icon-pic:before { content: "\e61c"; }
.icon-shouye:before { content: "\e611"; }
.icon-menpiao:before { content: "\e623"; }
.icon-shouye1:before { content: "\e612"; }
.icon-geren:before { content: "\e608"; }
.icon-time:before { content: "\e601"; }
.icon-llalbumscamarabtn:before { content: "\e614"; }
.icon-shijian:before { content: "\e602"; }
.icon-shangpinliebiaopress:before { content: "\e628"; }
.icon-saoyisaoqupiaoma:before { content: "\e624"; }
.icon-shouyezhuyetubiao05:before { content: "\e609"; }
.icon-caidanyingyong1:before { content: "\e607"; }
.icon-quanzhuyi:before { content: "\e629"; }
.icon-wenjianshipin:before { content: "\e61d"; }
.icon-yijianfankui:before { content: "\e61e"; }
.icon-qitapiao:before { content: "\e625"; }
.icon-youhuipiao:before { content: "\e626"; }
.icon-huodong:before { content: "\e60a"; }
.icon-iconsousuo:before { content: "\e60b"; }
.icon-ticket:before { content: "\e627"; }
.icon-wode:before { content: "\e60f"; }
.icon-gouwuche:before { content: "\e60c"; }
.icon-shouji:before { content: "\e603"; }
.icon-gouwuchezhinan:before { content: "\e615"; }
.icon-shouji1:before { content: "\e604"; }
.icon-lvyou:before { content: "\e616"; }
.icon-ktv:before { content: "\e621"; }
.icon-jingcaihuodong:before { content: "\e622"; }
.icon-shangjiashangpin:before { content: "\e62a"; }
.icon-help:before { content: "\e617"; }
.icon-meishi:before { content: "\e618"; }
.icon-jiudian:before { content: "\e619"; }
.icon-wode1:before { content: "\e610"; }
.icon-feiji:before { content: "\e61a"; }
.icon-canpinhuigerenzhongxinyijianyujianyi:before { content: "\e61f"; }
.icon-shoucang:before { content: "\e60d"; }
.icon-zhuye:before { content: "\e60e"; }
.icon-shezhi1:before { content: "\e605"; }









