/*
 *这是单独为hello mui准备的个性化css，可以覆盖标准mui的css定义；
 * 在实际项目开发时，建议为App单独写一个css文件，从而实现项目的自定义皮肤功能；
 * 
 * */

.mui-android .mui-bar-nav~.mui-content{
	padding: 0;
}
html,body,*{font-family: "微软雅黑";}
body{background-color: #f0f0f0;}
a,img{padding: 0;margin: 0;}
.mui-bar-nav{  -webkit-box-shadow: 0 0px 0px #ccc; box-shadow: 0 0px 0px #ccc}
.home-bar{background-color: #019FE6;}
.home-bar,.home-bar *{color: #FFFFFF;}
.box{background-color: #FFFFFF;border-top: 1px solid #EDEDED;border-bottom: 1px solid #EDEDED;margin-bottom: 8px;}
.mui-grid-view.mui-grid-9{background-color:#FFFFFF;border-bottom: 1px solid #EDEDED;}
.mui-grid-view.mui-grid-9 .mui-table-view-cell{border-top: none;border-left: none;}

#Gallery{margin-bottom: 8px;}
.ayu-wrap{padding: 5px;}

.tit{height: 30px; line-height: 30px; color: #666; padding-left: 5px;font-size: 13px;}

.ayu-group{clear: both;overflow: hidden;zoom: 1;}
.ayu-group .ayu-small-box img,.ayu-group .box-right img{width: 100%;height: auto;display: block;}
.fl{float: left;}
.fr{float: right;}
.ayu-group .mui-col-xs-8{margin: 0 -1%;}
.box-left .mui-col-xs-6{float: left;}
.box-left .ayu-small-box{margin-right: 0 2%;width: 48%;float:left;margin:0 1%;margin-bottom: 2%;}
.box-left .ayu-small-box.nob{margin-bottom: 0;}
.box-left .ayu-small-box a{display: block;}

.ayu-group .box-left{width:67.66666667%}

.ayu-small-box{position: relative;}
.ayu-small-box .title,.ayu-imgbox .title{padding-left: 8px;display:block;width:100%;position: absolute;left: 0;bottom: 0;font-size: 12px;line-height: 22px;background:url('../images/backbg.png') bottom repeat-x;color: #FFFFFF;}

.box-right .title{display:block;width:100%;position: absolute;left: 0;bottom: 0;font-size: 12px;line-height: 22px;background:url('../images/backbg.png') bottom repeat-x;color: #FFFFFF;padding-left: 10px;}

.ayu-group .box-right{position: relative;width:33.63333333%;margin-right: -1%;margin-top:-1%;overflow: hidden;zoom: 1;}

.ayu-top{margin-bottom: 8px;}
.ayu-imgbox{position: relative;}
.ayu-imgbox img{display: block;}

.ayu-imgtxt-view .mui-table-view-cell,.ayu-imgtxt-view .mui-table-view-cell a{padding-left: 0;padding-right: 0;}
.ayu-imgtxt-view .mui-table-view-cell a{margin-left: 0;margin-right:0;}
.ayu-imgtxt-view .mui-table-view-cell:after{left: 0;}
.ayu-imgtxt-view .mui-media-object{max-width:120px}









