html
* { max-height: 1000000px; -webkit-text-size-adjust: none }
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td { margin: 0; padding: 0 }
li { overflow: hidden }
body { text-align: center; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-text-size-adjust: none }
fieldset,
img { border: 0 }
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var,
optgroup { font-style: normal; font-weight: 400 }
h1,
h2,
h3,
h4,
h5,
h6 { font-size: 100%; font-weight: 400 }
abbr,
acronym { border: 0; font-variant: normal }
input,
button,
textarea,
select,
optgroup,
option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit }
ol,
ul { list-style: none }
table { border-collapse: collapse; border-spacing: 0 }
caption,
th { text-align: left }
sup,
sub { font-size: 100%; vertical-align: baseline }
blockquote,
q { quotes: none }
blockquote:before,
blockquote:after,
q:before,
q:after { content: none }
.clearfix { zoom: 1 }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden }
code,
kbd,
samp,
tt,
input,
button,
textarea,
select { font-size: 100% }
:link,
:visited,
ins,
a { text-decoration: none }
:focus { outline: 0
none }
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"]>input[type="button"]::-moz-focus-inner { border: none; padding: 0 }
*html,
*html
body { background-attachment: fixed }
html { font-size: 20px }
body { background-color: #fefefe; line-height: 1.5; font-family: "黑体"; color: #404040; text-align: left }
a { color: #404040 }
input[type="search"] { border: none; border: 2px
solid #999; border-radius: 8px; font-size: 160%; width: 100%; padding: 3.2% 5%; margin-top: 20px; -webkit-appearance: none }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancle-button { display: none }
input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none }
.f12 { font-size: 12px }
.f14 { font-size: 14px }
.f16 { font-size: 16px }
.f18 { font-size: 18px }
.f20 { font-size: 20px }
.fb { font-weight: 700 }
.f_f00 { color: #f00 }
.f_666 { color: #666 }
.f_c30 { color: #c30 }
.f_4e9700 { color: #4e9700 }
.f_4e9700:hover { color: #f60 }
.f_f600 { color: #ff6000 }
.f_f00 { color: #f00 }
.f_005bb5 { color: #005bb5 }
.c_green { color: #4e9700 }
.fl { float: left }
.fr { float: right }
.fa { font-family: 'arial' }
.f_blue { color: #407195 }
.f_yellow { color: #ff6000 }
.f_333 { color: #333 }
.f_666 { color: #666 }
.f_999 { color: #999 }
@media(min-width:379px) and (max-width:639px) {
	body { font-size: 15px }
}
@media(max-width:378px) {
	body { font-size: 10px }
}
.arrow,
.header .cl_icon,
.header
.search_icon { background: url(http://img1.tuniucdn.com/site/wap/img/common/arrow1017.png) no-repeat 0 -33px }
textarea.ver-error,
input.ver-error,
select.ver-error { background: #F6DDDD; border-color: #B94A48 }
.wrapper,
#header { width: 100%; max-width: 640px; margin: 0
auto; background-color: #f5f5f5; position: relative }
.header { padding: 18px
25px }
.header
h1 { height: 58px; float: left }
.header h1
img { width: 100% }
.header .tel-icon { display: inline-block; font-size: 34px; color: #999 }
.header .tel-icon:before { vertical-align: top; line-height: 0.8 }
.header
.search_icon { display: inline-block; width: 35px; height: 35px; background-position: -399px 0 }
.header
.line_h { display: inline-block; border-right: 2px solid #cecece; height: 26px; width: 0; margin: 0
10px; position: relative; top: -5px }
.header .hideSelMoreCity
.selMoreCity { display: none }
.header
.sel_city { float: left; margin-top: 22px; margin-left: 15px; position: relative; font-size: 140% }
.header .sel_city
a { color: #ff7800 }
.header
.selMoreCity { position: absolute; border-top: 2px solid #bfbfbf; border-bottom: 2px solid #fff; z-index: 999; width: 640px; background-color: #e6e4e4; top: 76px; left: -217px; overflow: hidden }
.header
.man_arrow { display: block; height: 10px; width: 10px; border-top: 2px solid #bfbfbf; border-right: 2px solid #bfbfbf; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); background-color: #e6e4e4; position: absolute; top: -8px; left: 341px }
.header
.city_list { width: 100%; overflow: hidden; height: 100%; padding: 20px }
.header .city_list
dl { width: 100% }
.header .city_list dt,
.header .city_list
dd { float: left; color: #333; line-height: 54px }
.header .city_list
dt { color: #666; width: 15%; text-align: right; white-space: nowrap }
.header .city_list
dd { width: 85% }
.header .city_list
a { padding: 0
30px 0 20px; display: inline-block }
.arrow { height: 23px; width: 13px; display: inline-block; margin-left: 15px; -webkit-transform: rotate(90deg); transform: rotate(90deg) }
@-webkit-keyframes 'arrow_cir' {
	0% { -webkit-transform: rotate(90deg); transform: rotate(90deg) }
	50% { -webkit-transform: rotate(0deg); transform: rotate(0deg) }
	100% { -webkit-transform: rotate(-90deg); transform: rotate(-90deg) }
}
@-webkit-keyframes 'arrowback_cir' {
	0% { -webkit-transform: rotate(-90deg); transform: rotate(-90deg) }
	50% { -webkit-transform: rotate(0deg); transform: rotate(0deg) }
	100% { -webkit-transform: rotate(90deg); transform: rotate(90deg) }
}
@-webkit-keyframes 'selCity' {
	0% { height: 0 }
	50% { height: 137px }
	100% { height: 315px }
}
@-webkit-keyframes 'selCity_back' {
	0% { height: 315px; opacity: 1 }
	50% { height: 137px; opacity: 1 }
	99% { opacity: 1 }
	100% { height: 0; opacity: 0 }
}
.selCitiHover_back
.arrow { -webkit-animation: 'arrowback_cir' 0.2s linear }
.selCitiHover
.arrow { -webkit-transform: rotate(-90deg); -webkit-animation: 'arrow_cir' 0.2s linear; animation: 'arrow_cir' 0.2s linear }
.selCitiHover
.selMoreCity { -webkit-animation: 'selCity' 0.2s linear; display: block }
.selCitiHover_back
.selMoreCity { -webkit-animation: 'selCity_back' 0.2s linear; height: 0; opacity: 0 }
.header
.collection { float: right; height: 36px; padding-top: 20px }
.header
.cl_icon { background-position: -437px 0; display: inline-block; height: 35px; width: 37px }
.header .collection_open .collection-list { display: block }
.header .collection-list { display: none; position: absolute; right: 16px; margin-top: 20px; width: 94%; z-index: 999; background-color: #f7f7f7; border-radius: 8px; color: #333; border: 2px
solid #cfcfcf }
.header .collection-list
.man_arrow { background-color: #f7f7f7; width: 18px; height: 18px; left: 94%; top: -11px; border-color: #cfcfcf }
.header .collection-list
ul { color: #fd9e4a; font-size: 130% }
.header .collection-list
li { list-style: disc inside none; padding: 20px
25px 10px; border-bottom: 2px solid #cfcfcf }
.header .collection-list li:last-child { border-bottom: none }
.header .collection-list .collection-more { text-align: center; padding: 10px
0 20px }
.header .collection-list .collection-more
a { color: #407195 }
.header .collection-empty { font-size: 140%; color: #666; padding: 20px
0 20px 20px; display: none }
.header .collection-empty
p { margin-bottom: 10px }
.header .collection-empty .cl-gallery-item { float: left; margin-right: 10px }
.header .collection-empty .cl-gallery-item:last-child { margin-right: 0 }
.header .collection-empty .cl-gallery-item
img { width: 180px; height: 130px; border-radius: 8px }
.header .collection-empty .cl-gallery-item
p { width: 180px; max-height: 102px; overflow: hidden }
.search { position: relative; width: 93.75% }
.search
.search_box { width: 100%; position: absolute; z-index: 1000 }
.search
.search_box_index { width: 100%; margin-top: 0 }
.search .search_box
li { height: 80px; line-height: 80px; border: 1px
solid #BFBFBF; margin-top: -1px; background-color: #fff; font-size: 140% }
.search .search_box #TopDoCookie li:last-child { font-size: 100% }
.search .search_box #doCookie li:last-child { font-size: 100% }
.search .search_box_index
li { height: 80px; line-height: 80px; border: 1px
solid #BFBFBF; border-bottom: none; margin-top: -1px; background-color: #fff }
.search .search_box_index li:last-child { border-bottom: 2px solid #BFBFBF }
.search .search_box li
a { display: block; padding: 0
20px; color: #666 }
.search .search_box #TopSuggest li
a { display: block; padding: 0
20px; color: #666 }
.search .search_box_index li
a { font-size: 140%; display: block; padding: 0
20px; color: #666 }
.search
.empty_history { display: block; padding: 20px
	5%; color: #737373; font-size: 160%; background-color: #e5e5e5; height: 80px; border: 1px
solid transparent; border-right: 1px solid #bfbfbf; -webkit-appearance: none; border-radius: 0 }
.search
.close_btn { float: right; display: block; padding: 20px
	5%; height: 80px; color: #737373; font-size: 160%; background-color: #e5e5e5; border: 1px
solid transparent; border-left: 1px solid #bfbfbf; -webkit-appearance: none; border-radius: 0 }
.search_input { border: 2px
solid #999; border-radius: 8px; font-size: 160%; width: 90%; padding: 3% 4.75%; margin-top: 20px }
.search_input input[type="search"] { border-top: 2px solid #7f7f7f; border-bottom: 2px solid #fff; border-radius: 8px; padding: 0; width: 93%; height: 82px; padding: 20px }
.search_input.default { color: #999 }
.search
.search_btn { background: url(/site/wap/img/common/search_icon.png) no-repeat right 0; display: block; position: absolute; width: 20%; background-size: contain; right: 0; top: 13px; -webkit-appearance: none; height: 90px }
.com_foot { margin-top: 40px }
.com_foot
.footer_hide { display: none }
.com_foot
.login_reg { width: 200px; margin: 0
auto }
.com_foot .login_reg
a { display: block; float: left; letter-spacing: 15px; color: #407195; font-size: 140% }
.com_foot
.lr_login { text-align: right; margin-right: 12% }
.com_foot
.lr_reg { text-align: left }
.com_foot
.corp_info { padding: 30px
3.125%; text-align: center }
.com_foot
.left_part { font-size: 120%; color: #999; float: left }
.com_foot .left_part
.ci_touch { margin-right: 8px }
.com_foot .left_part
.ci_pc { margin-left: 8px }
.com_foot
.right_part { font-size: 120%; float: right; color: #999 }
.com_foot .left_part
a { color: #407195 }
.com_foot .left_part
a.selected { color: #999; cursor: default }
.com_foot
.right_part { color: #999; text-align: right }
.com_foot .right_part
.corp_name { margin-right: 10px }
@media (max-width:379px) {
	.com_foot .right_part
	.corp_name { margin-right: 5px }
}
.com_foot
.hasLogin { text-align: center; margin-top: 40px; font-size: 140% }
.com_foot .hasLogin
a { color: #407195 }
.com_foot .hasLogin
.lr_name { color: #666; cursor: text }
.search,
.category_table { margin: 0
3.125% }
.cat_table_name,
.cat_item { border-right: 1px solid #bababa; border-left: 1px solid #bababa }
.cat_item { border-bottom: none }
.link_other { margin-top: 40px; padding: 0
3.125% }
.link_other
li { height: 80px; line-height: 80px; color: #666; background-color: #e9e9e9; position: relative; border-right: 2px solid #c2c2c2; border-left: 2px solid #c2c2c2; border-bottom: 2px solid #d8d8d8; font-size: 140% }
.link_other li
.arrow { -webkit-transform: rotate(0deg); transform: rotate(0deg); position: absolute; top: 35%; right: 35px }
.link_other li
a { color: #666; padding: 0
5%; display: block }
.link_other
li.lo_first { border: 2px
solid #c2c2c2; border-bottom: 2px solid #d8d8d8; border-top-left-radius: 8px; border-top-right-radius: 8px }
.link_other li:last-child { border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; border: 2px
solid #c2c2c2; border-top: none }
.f_st { font-family: 'arial' }
.turnpage { font-size: 140%; color: #666; text-align: center; padding-top: 35px; position: relative; background-color: #f5f5f5; padding: 20px
0 }
.turnpage
a { color: #407195 !important; position: absolute }
.turnpage a:first-child { left: 165px }
.turnpage
span { padding: 0
40px !important }
#back_top { width: 100%; margin: 0
auto; background-color: #f0f0f0 }
.back_top { font-size: 140%; padding: 20px
0 0; text-align: center; float: left; width: 100% }
.back_top
a { color: #407195 }
.backto_top,
.backto_top
a { text-align: center; color: #407195; font-size: 120%; margin-top: 30px }
.ps { clear: both; color: #999; text-align: center; background-color: #f5f5f5; padding: 20px
0; font-size: 120% }
.frame_back { background-color: #e5e5e5 }
.frame { background-color: #f7f7f7; border-radius: 8px; border: 2px
	solid #c9c9c9; font-size: 140%; position: relative; margin: 15px
0 10px; padding: 20px }
.frame_cont { color: #666; margin-left: 18px }
.word_grey { color: #999 }
.prd_category { margin-top: 20px }
.product_recommend { margin-top: 40px }
.category_title,
.recommend_title { position: relative }
.category_title { margin-bottom: 45px; font-size: 140% }
.cat_title_line,
.rec_title_line { height: 14px; border-bottom: 2px solid #d5d3d3 }
.cat_title,
.rec_title { position: absolute; top: -10px; width: 100% }
.cat_title p,
.rec_title
p { width: 240px; margin: 0
auto; text-align: center; background-color: #f5f5f5 }
.rec_title
p { width: 150px }
.category_table { text-align: center }
.category_table:nth-child(2) { border-top-left-radius: 8px; border-top-right-radius: 8px }
.category_table:last-child { border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; margin-bottom: 20px }
.category_table:nth-child(2)>p:first-child { border-top-left-radius: 8px; border-top-right-radius: 8px; border: 1px
solid #bababa; border-bottom: none }
.cat_table_name { font-size: 120%; background-color: #dfdfdf; color: #666; width: 100% }
.cat_item { position: relative; overflow: auto; border-bottom: 1px solid #dfdfdf; width: 100%; background-color: #fbfbfb }
.category_table:last-child .cat_item:last-child { border-bottom: 1px solid #bababa }
.category_table:last-child .cat_item:last-child { border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; overflow: hidden }
.cat_item>li { font-size: 135%; width: 25%; float: left }
.cat_item>li>a { padding: 17px
0; display: inline-block; color: #333; white-space: nowrap }
.cat_item_content { background-color: #eeeded; opacity: 1; display: block; -webkit-transition: opacity .3s ease-in-out; transition: opacity .3s ease-in-out; clear: both }
.cat_item_content p
a { color: #407195; font-size: 130%; display: inline-block; margin-bottom: 21px; margin-top: 5px }
.cat_item_content:nth-of-type(4) .edge { left: 86% }
.cat_item_content:nth-of-type(3) .edge { left: 61% }
.cat_item_content:nth-of-type(2) .edge { left: 36% }
.cat_item_content:nth-of-type(1) .edge { left: 11% }
.cat_item_content
.edge { display: block; position: absolute; width: 20px; height: 20px; background-color: #eeeded; top: 66px; -webkit-transform: rotate(45deg); transform: rotate(45deg) }
.cat_item_content.hidden { opacity: 0; display: none; -webkit-transition: opacity .3s ease-in-out; transition: opacity .3s ease-in-out }
.cat_detail { padding: 0
15px; overflow: auto }
.cat_detail
li { float: left }
.cat_detail li
a { color: #666 }
.cat_detail li,
.cat_detail
p { font-size: 130%; background-color: #eeeded; margin: 17px
0 }
.cat_detail li
a { padding: 3px
20px }
.cat_item>.cat_item_selected>a { color: #ff7800 }
.cat_item>.cat_item_selected.cat_item_active>a { color: #fff }
.cat_item>.cat_item_active { background-color: #ff7800 }
.cat_item>.cat_item_active>a { color: #fff }
.cat_detail > .cat_item_active
a { background-color: #ff7800; color: #fff; border-radius: 8px }
.cat_divider { display: inline-block; width: 2px; height: 20px; background-color: #c7c7c7 }
.search_icon_padding { padding: 48px
10px 20px 28px }
.cl_icon_padding { padding: 49px
35px 19px 8px; position: absolute; right: 0; top: -10px }
#mask { display: none; position: fixed; margin: 0
auto; max-width: 640px; width: 100%; z-index: 9999; opacity: .73 }
#mask.mask-show { display: block }
#maskWord { font-size: 24px; color: #fff; padding: 10px; background-color: #333; border-radius: 8px; text-align: center; width: 60%; margin: 0
auto }
@media(min-width:379px) and (max-width:639px) {
	.cat_detail li
	a { padding: 3px
	15px }
	.link_other
	li { height: 60px; line-height: 60px }
	.cat_title,
	.rec_title { top: -5px }
	.header
	.line_h { margin-right: 20px; height: 18px; top: -3px }
	.header
	.sel_city { margin-left: 25px }
	.header
	.selMoreCity { left: -170px }
	.search
	.search_btn { top: 10px }
	.header .collection-list
	.man_arrow { left: 92% }
	.header
	h1 { width: 120px }
	.header .city_list
	a { padding: 0
	20px 0 15px }
	.cat_item_content
	.edge { top: 57px }
	.cat_divider { height: 16px }
}
@media(max-width:378px) {
	.arrow,
	.header .cl_icon,
	.header
	.search_icon { background-image: url(/site/wap/img/common/arrow_half.png?v=20130823) }
	.arrow { height: 17px; width: 5px; margin-left: 5px; background-image: url(/site/wap/img/common/arrow_half.png?v=20130823) no-repeat 0 0 }
	.header
	.selMoreCity { left: -130px }
	.header
	.sel_city { margin-left: 5px }
	.header
	.search_icon { background-position: -200px 0; height: 17px; width: 17px }
	.header
	.cl_icon { background-position: -218px 0; height: 17px; width: 21px }
	.cat_detail li
	a { padding: 3px
	8px }
	.link_other
	li { height: 40px; line-height: 40px }
	.cat_title,
	.rec_title { top: -2px }
	.cat_item_content
	.edge { top: 56px }
	.header
	.line_h { margin-right: 15px; height: 13px; top: -1px }
	.search
	.search_btn { top: 14px }
	.header .collection-list
	.man_arrow { left: 91% }
	.header .collection-list { width: 90% }
	.header .city_list
	a { padding: 0
	10px 0 5px }
	.cat_divider { height: 14px }
	.arrow { background: url(/site/wap/img/common/arrow_half.png) no-repeat 0 0 }
	.link_other li
	.arrow { top: 40% }
	.com_foot
	.left_part { float: none }
}
@media(max-width:359px) {
	.header
	h1 { width: 100px }
}
.header,
#header { border-bottom: none }
.filter_con .fl_condition .sort_arrow,
.filter_con .fl_condition
.sort_arrow_up { background: url(/site/wap/img/common/arrow.png) no-repeat 0 0 }
.main_list { padding: 0
0 30px }
.main_cont { background-color: #f5f5f5; -webkit-tap-highlight-color: rgba(0, 0, 0, 0) }
.main_cont .spots_all,
.main_cont
.prd_none { color: #666; font-size: 120%; padding: 0
20px 30px; text-align: center }
.main_cont
.prd_none { color: #666; font-size: 120%; text-align: center; padding: 5px
0 }
.main_cont
.prd_none { font-size: 140%; padding: 20px }
.main_cont .prd_none>a { color: #24618d }
.main_cont
.filter_con { padding: 0
16px; margin-left: 8px }
.main_cont .filter_con>li { float: left; width: 33%; font-size: 140% }
.main_cont .filter_con li
li { font-size: 100% }
.main_cont .filter_con
.letter_spacing { letter-spacing: 8px }
.main_cont .filter_con .sameattr,
.main_cont .filter_con .sameattr_empty,
.channel_filter>li>a { display: block; background-color: #fff; text-align: center; height: 64px; line-height: 64px }
.main_cont .filter_con
.sameattr { color: #ff7401; overflow: hidden }
.main_cont .filter_con
.sameattr_empty { color: #666 }
.main_cont .filter_con .fl_on
.sameattr { color: #666; background-color: #e4e4e4; transition: background-color 0.5s ease-out; -webkit-transition: background-color 0.5s ease-out }
.main_cont .filter_con>li>a { border: 2px
solid #a1a1a1; border-right: none }
.main_cont .filter_con>li:first-child>a { border-top-left-radius: 8px; border-bottom-left-radius: 8px }
.main_cont .filter_con>li:last-child>a { border-top-right-radius: 8px; border-bottom-right-radius: 8px; border-right: 2px solid #a1a1a1 }
.main_cont .filter_con
.y_arrow { display: inline-block; height: 12px; width: 12px; border-right: 3px solid #ff7401; border-top: 3px solid #ff7401; -webkit-transform: rotate(135deg); transform: rotate(135deg); position: relative; top: -6px; margin-left: 13px }
.main_cont .filter_con .fl_on
.y_arrow { border-color: #666; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); top: 0 }
.main_cont .tours_filter_con>li { float: left; width: 50%; font-size: 140% }
.mc_lists { padding: 0
20px }
.mc_lists
.point_area { border-bottom: 2px solid #d5d3d3; display: block }
.mc_lists .point_area:last-child { border-bottom: none }
.cl_item { padding: 20px
0 20px; position: relative; border-bottom: 2px solid #d5d3d3 }
.cl_item:last-child { border-bottom: none }
.cl_item
.cl_img { float: left; position: relative; width: 33%; margin-right: 2% }
.cl_item .cl_img
img { width: 100%; border-radius: 8px; margin: 10px
10px 0 0 }
.cl_item .cl_img
span { position: absolute; background-color: #ff7800; color: #fff; font-size: 120%; bottom: 8px; text-align: center; width: 100%; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px }
.cl_item .cl_img span.mobile-only { background-color: #f00 }
.mask .cl_item .cl_img img,
.mask .cl_item .cl_type,
.mask .cl_item .cl_name,
.mask .cl_item .cl_price,
.mask .cl_item .cl_price_now,
.mask .cl_item
.cl_info { -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -o-filter: grayscale(100%); filter: grayscale(100%); filter: url(/site/wap/css/img/common/grayscale.svg); filter: gray; -webkit-transition: -webkit-filter .8s linear; transition: -webkit-filter .8s linear }
.cl_item
.cl_type { font-size: 130%; color: #666 }
.cl_item
.cl_name { font-size: 150%; color: #333; display: block; overflow: hidden; text-overflow: ellipsis; width: 64%; margin-top: 3px; -webkit-line-clamp: 2; -webkit-box-orient: vertical; display: -webkit-box }
.cl_item
.visa_name { font-size: 150%; color: #333; display: block; overflow: hidden; text-overflow: ellipsis; width: 64%; margin-top: 3px; white-space: nowrap }
.cl_item
.cl_name { height: 90px }
.cl_item
.visa_name { height: 45px }
@media (min-width:379px) and (max-width:639px) {
	.cl_item .cl_img
	span { bottom: 6px }
	.cl_item
	.cl_name { height: 68px }
}
@media (max-width:378px) {
	.cl_item .cl_img
	span { bottom: 4px }
	.cl_item
	.cl_name { height: 42px }
}
.cl_item .cl_price,
.cl_item
.cl_price_now { font-family: Arial }
.cl_item
.cl_price { height: 45px; font-size: 200%; color: #ff6000; margin-top: 10px; display: inline-block }
.cl_item .cl_price
small { font-size: 70% }
.cl_item
.cl_price_now { font-size: 140%; color: #999; margin-left: 15px }
.cl_item .on-sale { float: right; margin-top: 40px; color: #fff; background: #f00; padding: 0px
27px; text-align: center; border-radius: 8px }
.cl_item
.cl_info { font-size: 130%; color: #999; margin-top: 18px; margin-left: 210px }
.cl_item .cl_info
.info_r { float: right; margin-left: 15px }
.cl_item .cl_info .info_r:last-child { margin-left: 0 }
.spe_label { display: block; position: absolute; height: 36px; width: 120px; background-color: #c00; line-height: 36px; text-align: center; font-size: 130%; color: #fff; bottom: -6px; left: 20px }
.spe_label
.sl_arrow { border-top: 3px solid #c00; border-left: 3px solid #c00; border-bottom: 3px solid #f0f0f0; border-right: 3px solid #f0f0f0; display: block; height: 0; width: 0; position: absolute; bottom: 0px; right: -6px }
.filter_con { position: relative }
.filter_con .sort-hidden-list { position: absolute; top: 80px; left: 16px; z-index: 999; border-radius: 8px; background-color: #f7f7f7; width: 93%; display: none }
.filter_con .fl_on .sort-hidden-list { display: block }
.filter_con .sort-hidden-list .sort-narrow { display: block; width: 10px; height: 10px; border-top: 2px solid #bfbfbf; border-left: 2px solid #bfbfbf; background-color: #f7f7f7; position: absolute; top: -6px; left: 50%; -webkit-transform: rotate(45deg); transform: rotate(45deg) }
.filter_con .sort-hidden-list.tour-type-list .sort-narrow { left: 20% }
.filter_con .sort-hidden-list.themes-list .sort-narrow,
.filter_con .sort-hidden-list.all_prod .sort-narrow { left: 80% }
.filter_con .all_prod
.allprod_list { width: 100%; border: 2px
solid #cfcfcf; border-radius: 8px; font-size: 100% }
.filter_con .all_prod .allprod_list
dl { padding: 20px
30px; border-bottom: 2px solid #e2e2e2 }
.filter_con .all_prod .allprod_list dl:last-child { border-bottom: none; padding-bottom: 30px }
.filter_con .all_prod .allprod_list
dt { color: #999 }
.filter_con .all_prod .allprod_list
dd { padding-top: 10px }
.filter_con .all_prod .allprod_list
dd.mar_l { padding-left: 8% }
.filter_con .all_prod .allprod_list
dd.mar_top { padding-top: 20px }
.filter_con .all_prod .allprod_list dd
a { color: #666; padding: 5px
25px; text-align: center; line-height: 36px; display: block; float: left; margin-bottom: 10px }
.filter_con .all_prod .allprod_list dd
a.current { background-color: #f60; color: #fff; border-radius: 5px }
.filter_con .sort-hidden-list .sort-list
li { width: 100%; height: 80px; border: 2px
solid #cfcfcf; line-height: 80px; border-top: none }
.filter_con .sort-hidden-list .sort-list > li:last-child,
.filter_con .sort-hidden-list .sort-list>a:last-child>li { border-bottom: 2px solid #cfcfcf; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px }
.filter_con .sort-hidden-list .sort-list > li:first-child,
.filter_con .sort-hidden-list .sort-list>a:first-child>li { border-top: 2px solid #cfcfcf; border-top-left-radius: 8px; border-top-right-radius: 8px }
.filter_con
.fl_condition { padding: 0
35px; color: #666 }
.filter_con
.check_box { border: 2px
solid #666; border-radius: 5px; display: inline-block; height: 32px; width: 32px; position: relative; top: 8px; margin-right: 25px }
.filter_con .allprod_list .prod_spe:first-child { margin-left: 0 }
.filter_con .allprod_list
.prod_spe { display: inline-block; margin-left: 40px }
.filter_con .allprod_list
.check_box { border: 2px
solid #666; border-radius: 5px; display: inline-block; height: 32px; width: 32px; position: relative; top: 8px; margin-right: 15px; margin-left: 60px }
.filter_con .allprod_list .check_box:first-child { margin-left: 0px }
.filter_con .allprod_list
.price_sp { padding: 5px
	10px; border-radius: 8px; border: none; border: 2px
solid #666; width: 30%; color: #666 }
.filter_con  .check_box
span { display: block; height: 10px; width: 20px; border: 3px
solid #ff7401; border-top: none; border-right: none; position: absolute; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); top: 6px; left: 5px }
.filter_con .fl_condition
.empty_box { display: inline-block; height: 32px; width: 32px; top: 8px; margin-right: 25px; border: 2px
solid #f7f7f7; position: relative }
.filter_con .fl_condition
.fl_cd { width: 130px; display: inline-block }
.filter_con .fl_condition
.fl_sp { font-size: 80%; color: #999 }
.filter_con .fl_condition .sort_arrow,
.filter_con .fl_condition
.sort_arrow_up { display: inline-block; width: 20px; height: 28px; background-position: left bottom; position: relative; top: 5px; margin-left: 20px }
.filter_con .fl_condition
.sort_arrow_up { -webkit-transform: rotate(180deg); transform: rotate(180deg) }
.main_cont .filter_con .filter_type_one
.sameattr { color: #666 }
.cancel_confirm { margin-top: 40px }
.cancel_confirm .cancel,
.cancel_confirm
.confirm { display: block; float: left; width: 40%; padding: 10px
0; text-align: center; color: #fff }
.cancel_confirm
.cancel { background-color: #b8b8b8; border-radius: 8px; margin-right: 47px }
.cancel_confirm
.confirm { background-color: #ff6c00; border-radius: 8px }
.channel_p { font-size: 120%; color: #666; text-align: center }
.channel_filter { position: relative; padding: 20px
16px 80px 16px; margin-bottom: 30px }
.channel_filter
li { float: left; width: 31%; margin-right: 3%; font-size: 130% }
.channel_filter li:last-child { margin-right: 0 }
.channel_filter li
a { border-radius: 8px }
.channel_filter
.y_arrow { display: inline-block; height: 12px; width: 12px; border-right: 3px solid #ff7401; border-top: 3px solid #ff7401; -webkit-transform: rotate(135deg); transform: rotate(135deg); position: relative; top: -6px; margin-left: 13px }
.channel_filter .cf_on
.y_arrow { border-color: #666; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); top: 0px }
.channel_filter .cf_on
.hidden_list { display: block }
.channel_filter .cf_on>a { color: #656565; display: block; background-color: #d8d8d8; border: 1px
solid #b9b9b9; text-align: center; height: 64px; line-height: 64px }
.channel_filter
.hidden_list { display: none; left: 16px; position: absolute; top: 100px; background-color: #f7f7f7; z-index: 10; border-radius: 8px; width: 94% }
.channel_filter
.channel_arrow { position: absolute; display: block; width: 13px; height: 13px; border-top: 2px solid #cfcfcf; border-left: 2px solid #cfcfcf; background-color: #f7f7f7; -webkit-transform: rotate(45deg); transform: rotate(45deg); top: -6px }
.channel_filter
.ca_1 { left: 8% }
.channel_filter
.ca_2 { left: 48% }
.channel_filter
.ca_3 { left: 80% }
.channel_filter
.channel_list { height: 38px; width: 100%; padding: 3% 0; border: 2px
solid #cfcfcf; border-radius: 8px; font-size: 80% }
.channel_filter .channel_list
li { float: left; width: 22%; margin: 0 }
.channel_filter .channel_list li:last-child { margin-right: 0 }
.channel_filter .channel_list li:first-child { margin-left: 7% }
.channel_filter .channel_list li
a { display: inline-block; background-color: #f7f7f7; padding: 0
28px; height: 35px; line-height: 35px; color: #666 }
.channel_filter .channel_list li.current
a { color: #fff; background-color: #ff6c00 }
.category_table p:first-child { border-top-left-radius: 8px; border-top-right-radius: 8px }
@media(min-width:379px) and (max-width:639px) {
	.channel_filter .channel_list li
	a { padding: 0
	20px }
	.channel_filter { margin-bottom: 5px }
	.filter_con .fl_condition .empty_box,
	.filter_con .check_box,
	.filter_con .allprod_list
	.check_box { width: 20px; height: 20px; top: 4px; margin-right: 10px }
	.filter_con .check_box
	span { top: 0; left: 2px }
	.filter_con .allprod_list
	.prod_spe { margin-left: 5px }
	.cl_item
	.cl_price { height: 34px }
}
@media(max-width:378px) {
	.channel_filter
	.y_arrow { width: 7px; height: 7px }
	.channel_filter .channel_list li
	a { padding: 0
	10px }
	.channel_filter { margin-bottom: 0px }
	.filter_con .fl_condition .empty_box,
	.filter_con .check_box,
	.filter_con .allprod_list
	.check_box { width: 18px; height: 18px; top: 2px; margin-right: 5px }
	.filter_con .check_box
	span { top: -1px; left: 2px }
	.filter_con .allprod_list
	.prod_spe { margin-left: 0px }
	.cancel_confirm .cancel,
	.cancel_confirm
	.confirm { width: 38% }
	.filter_con .fl_condition .sort_arrow,
	.filter_con .fl_condition
	.sort_arrow_up { background: url(/site/wap/css/img/common/arrow_half.png) no-repeat 0 0 }
	.fl_condition
	.sort_arrow { background-position: 10px 10px }
	.cl_item .cl_img
	span { bottom: 6px }
	.cl_item
	.cl_price { height: 20px; margin-top: 7px }
	.cl_item
	.cl_info { margin-top: 10px }
	.cl_item
	.cl_name { margin-top: 6px }
	.cl_item .cl_info
	.info_r { margin-left: 5px }
}
.ticket-info { color: #666; font-size: 28px }
.ellipsis { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; word-wrap: normal }
.orange { color: #ff7800 }
.cl_around { color: #999; font-size: 130%; float: right; margin-top: 23px }
.header { padding: 20px
15px; border-bottom: 1px solid #dadada; background-color: #f5f5f5; position: fixed; z-index: 9; width: 100%; max-width: 610px; top: 0; opacity: .99 }
.header
.back_icon { display: inline-block; height: 36px; width: 22px; background: url(/site/wap/img/common/b_arrow.png) no-repeat 0 0; vertical-align: middle; display: inline-block; background-size: contain }
.header
.title { font-size: 160%; padding-top: 3px; text-align: center; display: inherit }
.header
.book { display: block; position: absolute; padding: 8px
14px; color: #fff; font-size: 160%; background-color: #ff7800; top: 12px; right: 20px; border-bottom: 3px solid #ad3900; border-radius: 8px; font-size: 140% }
.wrapper { background-color: #f5f5f5; width: 100%; margin: 0
auto; overflow: visible; margin-top: 92px }
@media (max-width:639px) {
	.wrapper { margin-top: 69px }
}
.main_cont { padding: 0
20px }
.back_icon_a { width: 161px; height: auto; display: -moz-inline-stack; display: inline-block; zoom: 1; display: inline }
.back_icon_control { font-size: 30px; padding: 22px
22px; position: absolute; top: 0; left: 0 }
.back_icon_control
.back_icon_info { vertical-align: middle; display: inline-block }
@media(min-width:379px) and (max-width:639px) {
	.header
	.back_icon { background-size: 14px; height: 22px; width: 15px }
}
@media(max-width:379px) {
	.header
	.title { margin-top: 10px }
	.back_icon_control { font-size: 16px }
	.back_icon_control
	.back_icon_info { font-size: 16px }
	.header
	.back_icon { background-size: 10px; height: 17px; width: 10px }
	.back_icon_control { margin-top: 10px }
}
@font-face { font-family: 'tuniu'; src: url('/site/wap/fonts/tuniu_2.eot?a0b9c1d1'); src: url('/site/wap/fonts/tuniu_2.eot?a0b9c1d1') format('embedded-opentype'), url('/site/wap/fonts/tuniu_2.woff?a0b9c1d1') format('woff'), url('/site/wap/fonts/tuniu_2.ttf?a0b9c1d1') format('truetype'), url('/site/wap/fonts/tuniu_2.svg?a0b9c1d1') format('svg'); font-weight: normal; font-style: normal }
[class^="icon-"],
[class*=" icon-"] { font-family: 'tuniu'; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale }
.icon-help:before { content: "\e664" }
.icon-arrow-left1:before { content: "\e668" }
.icon-arrow-down1:before { content: "\e669" }
.icon-arrow-up1:before { content: "\e66a" }
.icon-arrow-right1:before { content: "\e66b" }
.icon-logo:before { content: "\e667" }
.icon-font-hui:before { content: "\e663" }
.icon-new-closed:before { content: "\e665" }
.icon-zoomout:before { content: "\e666" }
.icon-font-fan:before { content: "\e65b" }
.icon-back-new:before { content: "\e65d" }
.icon-font-di:before { content: "\e65e" }
.icon-font-xian:before { content: "\e65f" }
.icon-font-zao:before { content: "\e660" }
.icon-no-select:before { content: "\e661" }
.icon-select:before { content: "\e662" }
.icon-addcard:before { content: "\e659" }
.icon-arrows:before { content: "\e65a" }
.icon-card:before { content: "\e65c" }
.icon-hotel:before { content: "\e658" }
.icon-go:before { content: "\e657" }
.icon-back:before { content: "\e655" }
.icon-return:before { content: "\e656" }
.icon-exercise:before { content: "\e64a" }
.icon-massage:before { content: "\e64b" }
.icon-meet:before { content: "\e64c" }
.icon-park:before { content: "\e64d" }
.icon-plane2:before { content: "\e64e" }
.icon-playground:before { content: "\e64f" }
.icon-spa:before { content: "\e650" }
.icon-swimming:before { content: "\e651" }
.icon-water:before { content: "\e652" }
.icon-westernfood:before { content: "\e653" }
.icon-wf:before { content: "\e654" }
.icon-help2:before { content: "\e648" }
.icon-info:before { content: "\e649" }
.icon-route:before { content: "\e629" }
.icon-attention:before { content: "\e647" }
.icon-up:before { content: "\e645" }
.icon-down:before { content: "\e646" }
.icon-uniE641:before { content: "\e641" }
.icon-uniE642:before { content: "\e642" }
.icon-uniE643:before { content: "\e643" }
.icon-uniE644:before { content: "\e644" }
.icon-Expansion:before { content: "\e63f" }
.icon-Collapse:before { content: "\e640" }
.icon-mail:before { content: "\e63e" }
.icon-attention2:before { content: "\e62d" }
.icon-attractions:before { content: "\e62e" }
.icon-duty-free:before { content: "\e62f" }
.icon-exitinformation:before { content: "\e630" }
.icon-introduction:before { content: "\e631" }
.icon-landscape:before { content: "\e632" }
.icon-map:before { content: "\e633" }
.icon-playstrategy:before { content: "\e634" }
.icon-specialty:before { content: "\e635" }
.icon-traffic:before { content: "\e636" }
.icon-smile:before { content: "\e637" }
.icon-question:before { content: "\e638" }
.icon-dice:before { content: "\e639" }
.icon-dice2:before { content: "\e63a" }
.icon-close-thin:before { content: "\e63b" }
.icon-baby:before { content: "\e63c" }
.icon-iphone:before { content: "\e63d" }
.icon-bus:before { content: "\e62a" }
.icon-plane-o:before { content: "\e602" }
.icon-train:before { content: "\e62b" }
.icon-ship:before { content: "\e62c" }
.icon-plane:before { content: "\e61f" }
.icon-tours:before { content: "\e620" }
.icon-diy:before { content: "\e621" }
.icon-cruise:before { content: "\e622" }
.icon-drive:before { content: "\e623" }
.icon-ticket:before { content: "\e624" }
.icon-cart:before { content: "\e625" }
.icon-heart:before { content: "\e626" }
.icon-comments:before { content: "\e627" }
.icon-guidepost:before { content: "\e628" }
.icon-tick:before { content: "\e600" }
.icon-star:before { content: "\e601" }
.icon-share:before { content: "\e603" }
.icon-search:before { content: "\e604" }
.icon-reset:before { content: "\e605" }
.icon-radiobox-unchecked:before { content: "\e606" }
.icon-radiobox-checked:before { content: "\e607" }
.icon-checkbox-checked:before { content: "\e608" }
.icon-calendar:before { content: "\e609" }
.icon-back2:before { content: "\e60a" }
.icon-arrow-up:before { content: "\e60b" }
.icon-arrow-right:before { content: "\e60c" }
.icon-arrow-left:before { content: "\e60d" }
.icon-arrow-down:before { content: "\e60e" }
.icon-angry:before { content: "\e60f" }
.icon-present:before { content: "\e610" }
.icon-position:before { content: "\e611" }
.icon-phone:before { content: "\e612" }
.icon-person:before { content: "\e613" }
.icon-moon:before { content: "\e614" }
.icon-keyword:before { content: "\e615" }
.icon-hotel2:before { content: "\e616" }
.icon-cry:before { content: "\e617" }
.icon-close:before { content: "\e618" }
.icon-city:before { content: "\e619" }
.icon-checkbox-unchecked:before { content: "\e61a" }
.icon-present-open:before { content: "\e61b" }
.icon-arrow-down-a:before { content: "\e61c" }
.icon-arrow-up-a:before { content: "\e61d" }
.icon-auction:before { content: "\e61e" }
.main_cont .filter_con>li { float: left; width: 25%; font-size: 140% }
.main_cont { padding: 0; height: 100% }
.main_cont
.filter_con { padding: 0; margin-left: 0 }
.main_cont .filter_con>li:first-child>a { border-radius: 0 }
.main_cont .filter_con>li>a { border: 1px
solid #c6c6c6; border-top: none; height: 70px; line-height: 70px }
.main_cont .filter_con>li>a:first-child { border-left: none }
.main_cont .filter_con
.sameattr { color: #666 }
.main_cont .filter_con>li:last-child>a { border-right: none; border-radius: 0 }
.main_cont .filter_con
.sameattr { background-color: #f8f8f8; font-size: 24px }
.main_cont .filter_con .sameattr,
.main_cont .filter_con .sameattr_empty,
.channel_filter>li>a { height: 70px; line-height: 70px }
.main_cont .filter_con
.y_arrow { margin-left: 0; top: 3px; width: 0; height: 0; border-width: 8px 6px; background-color: #f8f8f8; border-style: solid; border-color: #666 #f8f8f8 #f8f8f8 #f8f8f8; -webkit-transform: rotate(0deg); transform: rotate(0deg) }
.main_cont .filter_con .fl_on
.y_arrow { background-color: #f8f8f8; -webkit-transform: rotate(0deg); transform: rotate(0deg); top: 3px; border-color: #666 #e4e4e4 #e4e4e4 #e4e4e4; transition: border-color 0.5s ease-out; -webkit-transition: border-color 0.5s ease-out }
#index { min-height: 680px }
.back_icon_control
.back_icon_info { display: inline }
.mc_lists
.point_area { border-bottom: none }
.cl_item { border: 1px
solid #d8d8d8; background-color: #fff; margin-top: 30px }
.cl_item:last-child { border: 1px
solid #d8d8d8; background-color: #f0f0f0; margin-top: 30px; border-radius: 8px }
.cl_item { padding: 0; position: relative; border: none }
.cl_item
.cl_name { color: #666; background-color: #fff; height: auto; max-height: 90px; border-bottom: 1px solid #e8e8e8; margin-top: 0; padding: 15px
20px; font-size: 150%; color: #333; display: block; overflow: hidden; text-overflow: ellipsis; width: auto; -webkit-line-clamp: 2; -webkit-box-orient: vertical; display: -webkit-box }
.cl_item
.cl_img { float: left; position: relative; width: auto; margin-right: 2%; height: 169px }
.cl_item .cl_img
img { width: 300px; border-radius: 0; border-left-bottom-radius: 0; margin: 0 }
.cl_item .cl_info
.info_r { float: none; margin-left: 5px }
.cl_item .cl_info
.info_t { display: block }
.cl_item
.cl_info { font-size: 120%; color: #999; margin-top: 18px; margin-left: 210px }
.filter_con .fl_condition
.fl_cd { width: 280px; display: inline-block }
.filter_con .check_box span,
.filter_con .check-box-circle
span { display: block; height: 10px; width: 20px; border: 3px
solid #ff7800; border-top: none; border-right: none; position: absolute; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); top: 6px; left: 5px }
.filter_con
.check_box { border: 2px
solid #ff7800; border-radius: 0; display: inline-block; height: 32px; width: 32px; position: absolute; top: 22px; right: 0 }
.filter_con .check-box-circle { border: 2px
solid #ff7800; border-radius: 30px; display: inline-block; height: 34px; width: 34px; position: absolute; top: 22px; right: 20px }
.filter_con
.fl_condition { padding-left: 0; color: #333; position: relative; border-bottom: 1px solid #cfcfcf }
.fl_on ul.border-b a:last-child li
.fl_condition { border: none }
.filter_con .fl_condition
.empty_box { display: inline-block; height: 32px; width: 32px; top: 22px; border: 2px
solid #ff7800; position: absolute; right: 0 }
.filter_con .fl_condition .empty-box-circle { border: 2px
solid #fff; border-radius: 30px; display: inline-block; height: 34px; width: 34px; position: absolute; top: 22px; right: 20px }
.star-list > ul
li { height: 80px; line-height: 79px; padding: 0
0 0 30px; text-align: left; color: #565656 }
.star-list > ul li:nth-child(4) { border-bottom: none }
.star-list { background-color: #fff; border: 2px
solid #cfcfcf; border-radius: 4px }
.star-list { position: absolute; top: 87px; left: 16px; width: 94%; z-index: 999 }
.recommend-arrow { left: 88% }
.recommend-arrow { top: -12px; border: 2px
solid #cfcfcf; border-right: none; border-bottom: none; background-color: #fff }
.recommend-arrow { position: absolute; display: inline-block; width: 20px; height: 20px; -webkit-transform: rotate(45deg); transform: rotate(45deg); z-index: 900 }
.cl_item .cl_info .info_r:last-child { margin-left: 5px }
.m-l-5 { margin-left: 5px }
.grey { color: #999; font-size: 28px }
/*.button-confirm { background-color: #ff7800; color: #fff; width: 93%; height: 76px; margin: 30px*/
20px; border: none; border-radius: 2px; display: block; text-align: center }
.border-b { border-bottom: 2px solid #cfcfcf }
.drop-bottom { position: absolute; left: 0; top: 0; width: 100%; display: block }
.drop-bottom
a { color: #fff; text-shadow: 0 1px 1px rgba(0, 0, 0, .75); display: block; padding: 10px
0; border-left: #616161 1px solid }
.trasp { position: absolute; top: 71px; width: 100%; background: rgba(0, 0, 0, .6); z-index: 9 }
.trasp.hide { display: none }
.bread-nav { color: #333; font-size: 160%; text-align: center; padding: 30px
0 }
.hidden { display: none }
.city-arrow,
.sort-arrow,
.theme-arrow { position: absolute; display: inline-block; width: 20px; height: 20px; -webkit-transform: rotate(45deg); transform: rotate(45deg); z-index: 900 }
.city-arrow { top: -12px; background-color: #fff; left: 63px; border-top: 2px solid #cfcfcf; border-left: 2px solid #cfcfcf }
.sort-arrow,
.theme-arrow { top: -12px; border: 2px
solid #cfcfcf; border-right: none; border-bottom: none; background-color: #fff }
.theme-arrow { left: 34% }
.sort-arrow { left: 60% }
.city-list,
.sort-list,
.theme-list { position: absolute; top: 87px; left: 16px; width: 94%; z-index: 999 }
.city-list
li { display: block; float: none; color: #565656 }
.city-list>ul { background-color: #fff; width: 42%; text-align: left; border-radius: 2px }
.city-list>ul>li>span:first-child { color: #fff; background-color: #cfcfcf; display: inline-block; width: 100%; padding-left: 50px }
.sub-filter>li>span { line-height: 60px; height: 60px; padding-left: 50px; border-bottom: 2px solid #cfcfcf; display: inline-block; width: 100% }
.sub-filter > a:last-child
li { border-bottom: none }
.sub-filter>.sub-current>span { background-color: #ededed; color: #ff7401 }
.sub-current>.third-filter { display: block }
.third-filter { display: none; position: absolute; left: 252px; background-color: #fff; border: 2px
solid #cfcfcf; border-left: none; border-top-right-radius: 8px; border-bottom-right-radius: 8px; width: 334px }
.third-filter li>p { line-height: 60px; height: 60px; margin: 0
	30px; padding: 0
20px; border-bottom: 1px solid #cfcfcf }
.third-current { background-color: #ededed }
.third-current>p { color: #ff7401 }
.sameattr { white-space: nowrap }
.city-list,
.sort-list,
.theme-list { background-color: #fff; border: 2px
solid #cfcfcf; border-radius: 8px }
.theme-list > ul
li { height: 80px; line-height: 80px; border-bottom: 1px solid #cfcfcf; padding: 0
30px; text-align: left; color: #565656 }
.theme-list > ul > a:last-child
li { border-bottom: none }
.theme-list .theme-current { color: #ff7401; background-color: #ededed }
.search-icon,
.distance-icon { display: inline-block; width: 30px; height: 30px; background: url(/site/wap/img/hotel/list_icon.png) no-repeat -30px 0 }
.search-icon { background-position: 0 0; right: 50px; top: 32px; position: absolute }
.icon-position { color: #ff7800 }
.icon-arrow-down-a { color: #ff7800; margin: 10px; font-size: 24px }
.icon-arrow-up-a { color: #ff7800; margin: 10px; font-size: 24px }
.city-list>ul { width: auto; height: 300px }
.fl-on { background-color: #f4f4f4 }
/*.price-title { font-size: 1.6rem; padding-top: 20px; padding-left: 20px }*/
.price-display { font-size: 1.2rem; color: #ff7800; margin-left: 10px }
.price-holder { border-bottom: 1px solid #d8d8d8; padding: 5px
0 25px; font-family: "微软雅黑" }
.price-btn { text-align: center }
.sort-arrow { z-index: -999 }